//퍼그 띄어쓰기 주의

doctype html
html 
    head 
        title=title 
    body 
        block content
            h1= title
            p Welcome to #{title}
            button(class=title, type='submit') 전송
            input(placeholder=title+'연습')